# Reading Dataset

In [3]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [7]:
# Reading the starting dataset sappointment_data.csv
data= pd.read_csv("/appointment_data.csv")
data

,No-show,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received
0,No,1.328492e+12,5687610,F,2016-05-11T16:00:16Z,2016-05-19T00:00:00Z,25,MATA DA PRAIA,0,0,0,0,0,0
1,No,3.881869e+14,5694484,M,2016-05-13T08:41:27Z,2016-05-17T00:00:00Z,62,FRADINHOS,0,0,0,0,0,0
2,Yes,9.118992e+12,5500939,F,2016-03-22T11:09:38Z,2016-05-09T00:00:00Z,65,JARDIM CAMBURI,0,0,0,0,0,0
3,No,1.843618e+14,5639080,M,2016-04-29T08:42:15Z,2016-04-29T00:00:00Z,41,MARIA ORTIZ,0,0,0,0,0,0
4,No,5.783198e+13,5671566,M,2016-05-06T18:47:52Z,2016-05-09T00:00:00Z,61,MARUÍPE,0,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88416,No,4.876245e+11,5664593,F,2016-05-05T12:58:06Z,2016-05-10T00:00:00Z,63,SÃO PEDRO,0,1,1,0,0,1
88417,No,3.911649e+12,5622779,M,2016-04-26T13:03:23Z,2016-06-01T00:00:00Z,31,MARIA ORTIZ,0,0,0,0,0,0
88418,No,4.973443e+11,5762864,F,2016-06-02T08:16:03Z,2016-06-08T00:00:00Z,38,ANDORINHAS,0,0,0,0,0,0
88419,No,2.623493e+14,5639951,F,2016-04-29T09:52:19Z,2016-04-29T00:00:00Z,18,MARUÍPE,1,0,0,0,0,0
88420,No,1.821131e+14,5637593,M,2016-04-29T07:10:42Z,2016-05-11T00:00:00Z,9,ILHA DO PRÍNCIPE,1,0,0,0,0,1

In [30]:
X = data.drop(['No-show'], axis = 1)
y = data['No-show']

X

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received
0,1.328492e+12,5687610,F,2016-05-11T16:00:16Z,2016-05-19T00:00:00Z,25,MATA DA PRAIA,0,0,0,0,0,0
1,3.881869e+14,5694484,M,2016-05-13T08:41:27Z,2016-05-17T00:00:00Z,62,FRADINHOS,0,0,0,0,0,0
2,9.118992e+12,5500939,F,2016-03-22T11:09:38Z,2016-05-09T00:00:00Z,65,JARDIM CAMBURI,0,0,0,0,0,0
3,1.843618e+14,5639080,M,2016-04-29T08:42:15Z,2016-04-29T00:00:00Z,41,MARIA ORTIZ,0,0,0,0,0,0
4,5.783198e+13,5671566,M,2016-05-06T18:47:52Z,2016-05-09T00:00:00Z,61,MARUÍPE,0,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
88416,4.876245e+11,5664593,F,2016-05-05T12:58:06Z,2016-05-10T00:00:00Z,63,SÃO PEDRO,0,1,1,0,0,1
88417,3.911649e+12,5622779,M,2016-04-26T13:03:23Z,2016-06-01T00:00:00Z,31,MARIA ORTIZ,0,0,0,0,0,0
88418,4.973443e+11,5762864,F,2016-06-02T08:16:03Z,2016-06-08T00:00:00Z,38,ANDORINHAS,0,0,0,0,0,0
88419,2.623493e+14,5639951,F,2016-04-29T09:52:19Z,2016-04-29T00:00:00Z,18,MARUÍPE,1,0,0,0,0,0
88420,1.821131e+14,5637593,M,2016-04-29T07:10:42Z,2016-05-11T00:00:00Z,9,ILHA DO PRÍNCIPE,1,0,0,0,0,1

In [9]:
y

0         No
1         No
2        Yes
3         No
4         No
        ...
88416     No
88417     No
88418     No
88419     No
88420     No
Name: No-show, Length: 88421, dtype: object

In [17]:
# Splitting dataset (train,test)
X_train, X_test, y_train, y_test= train_test_split(X, y, random_state = 1)
X_train

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received
7590,5.457726e+14,5756133,F,2016-06-01T07:59:39Z,2016-06-01T00:00:00Z,30,SÃO JOSÉ,0,1,0,0,0,0
28556,6.223516e+13,5743674,M,2016-05-30T09:16:07Z,2016-06-03T00:00:00Z,4,SANTOS DUMONT,0,0,0,0,0,1
52967,6.888543e+13,5649002,F,2016-05-02T17:21:36Z,2016-05-02T00:00:00Z,57,BONFIM,0,1,0,0,0,0
54511,9.649438e+12,5675313,M,2016-05-09T13:32:08Z,2016-05-09T00:00:00Z,16,TABUAZEIRO,1,0,0,0,0,0
67313,8.218344e+13,5686071,M,2016-05-11T11:55:02Z,2016-05-18T00:00:00Z,36,MARIA ORTIZ,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
21440,9.173495e+14,5732667,F,2016-05-24T12:11:09Z,2016-05-24T00:00:00Z,79,VILA RUBIM,0,1,0,0,0,0
73349,6.838621e+13,5714918,F,2016-05-18T13:23:25Z,2016-06-03T00:00:00Z,6,SANTOS DUMONT,1,0,0,0,0,1
50057,9.185196e+14,5623378,F,2016-04-26T13:59:09Z,2016-05-19T00:00:00Z,15,SANTA MARTHA,0,0,0,0,0,0
5192,1.566511e+12,5751411,M,2016-05-31T10:05:14Z,2016-05-31T00:00:00Z,39,JARDIM DA PENHA,0,0,0,0,0,0
77708,4.645911e+13,5696925,F,2016-05-13T14:38:50Z,2016-05-13T00:00:00Z,6,RESISTÊNCIA,0,0,0,0,0,0

In [18]:
X_test

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received
83796,4.378332e+14,5688819,F,2016-05-12T07:40:56Z,2016-06-07T00:00:00Z,3,JARDIM DA PENHA,0,0,0,0,0,1
71160,5.671189e+12,5696836,F,2016-05-13T14:24:26Z,2016-05-17T00:00:00Z,65,MARUÍPE,0,1,0,0,0,0
66314,8.546277e+12,5705565,F,2016-05-17T07:17:40Z,2016-05-19T00:00:00Z,54,JARDIM DA PENHA,0,0,0,0,0,0
32224,4.294665e+12,5596320,F,2016-04-18T14:23:06Z,2016-05-19T00:00:00Z,17,RESISTÊNCIA,1,0,0,0,0,0
57307,5.394721e+13,5640750,M,2016-04-29T11:21:27Z,2016-05-02T00:00:00Z,0,MARIA ORTIZ,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
11260,7.320000e+10,5719168,F,2016-05-19T10:41:44Z,2016-05-19T00:00:00Z,27,CARATOÍRA,0,0,0,0,0,0
41497,2.947152e+12,5737402,F,2016-05-25T09:33:04Z,2016-05-25T00:00:00Z,63,CONSOLAÇÃO,0,1,0,0,0,0
29547,3.554831e+14,5653149,F,2016-05-03T11:25:17Z,2016-05-03T00:00:00Z,9,REDENÇÃO,0,0,0,0,0,0
16638,9.895795e+12,5710685,F,2016-05-17T17:19:30Z,2016-05-18T00:00:00Z,61,ITARARÉ,0,1,0,0,0,0
69721,9.744489e+13,5787060,F,2016-06-08T09:17:16Z,2016-06-08T00:00:00Z,8,ILHA DE SANTA MARIA,0,0,0,0,0,0

In [19]:
y_train

7590      No
28556    Yes
52967     No
54511     No
67313    Yes
        ...
21440     No
73349     No
50057    Yes
5192      No
77708     No
Name: No-show, Length: 66315, dtype: object

In [20]:
y_test

83796    Yes
71160     No
66314     No
32224     No
57307     No
        ...
11260    Yes
41497     No
29547     No
16638     No
69721     No
Name: No-show, Length: 22106, dtype: object

In [22]:
# splitting dataset in train.csv and test.csv. So, join X and y.
train = y_train.to_frame().join(X_train)
test = y_test.to_frame().join(X_test)

In [23]:
train

,No-show,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received
7590,No,5.457726e+14,5756133,F,2016-06-01T07:59:39Z,2016-06-01T00:00:00Z,30,SÃO JOSÉ,0,1,0,0,0,0
28556,Yes,6.223516e+13,5743674,M,2016-05-30T09:16:07Z,2016-06-03T00:00:00Z,4,SANTOS DUMONT,0,0,0,0,0,1
52967,No,6.888543e+13,5649002,F,2016-05-02T17:21:36Z,2016-05-02T00:00:00Z,57,BONFIM,0,1,0,0,0,0
54511,No,9.649438e+12,5675313,M,2016-05-09T13:32:08Z,2016-05-09T00:00:00Z,16,TABUAZEIRO,1,0,0,0,0,0
67313,Yes,8.218344e+13,5686071,M,2016-05-11T11:55:02Z,2016-05-18T00:00:00Z,36,MARIA ORTIZ,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21440,No,9.173495e+14,5732667,F,2016-05-24T12:11:09Z,2016-05-24T00:00:00Z,79,VILA RUBIM,0,1,0,0,0,0
73349,No,6.838621e+13,5714918,F,2016-05-18T13:23:25Z,2016-06-03T00:00:00Z,6,SANTOS DUMONT,1,0,0,0,0,1
50057,Yes,9.185196e+14,5623378,F,2016-04-26T13:59:09Z,2016-05-19T00:00:00Z,15,SANTA MARTHA,0,0,0,0,0,0
5192,No,1.566511e+12,5751411,M,2016-05-31T10:05:14Z,2016-05-31T00:00:00Z,39,JARDIM DA PENHA,0,0,0,0,0,0
77708,No,4.645911e+13,5696925,F,2016-05-13T14:38:50Z,2016-05-13T00:00:00Z,6,RESISTÊNCIA,0,0,0,0,0,0

In [24]:
test

,No-show,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received
83796,Yes,4.378332e+14,5688819,F,2016-05-12T07:40:56Z,2016-06-07T00:00:00Z,3,JARDIM DA PENHA,0,0,0,0,0,1
71160,No,5.671189e+12,5696836,F,2016-05-13T14:24:26Z,2016-05-17T00:00:00Z,65,MARUÍPE,0,1,0,0,0,0
66314,No,8.546277e+12,5705565,F,2016-05-17T07:17:40Z,2016-05-19T00:00:00Z,54,JARDIM DA PENHA,0,0,0,0,0,0
32224,No,4.294665e+12,5596320,F,2016-04-18T14:23:06Z,2016-05-19T00:00:00Z,17,RESISTÊNCIA,1,0,0,0,0,0
57307,No,5.394721e+13,5640750,M,2016-04-29T11:21:27Z,2016-05-02T00:00:00Z,0,MARIA ORTIZ,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11260,Yes,7.320000e+10,5719168,F,2016-05-19T10:41:44Z,2016-05-19T00:00:00Z,27,CARATOÍRA,0,0,0,0,0,0
41497,No,2.947152e+12,5737402,F,2016-05-25T09:33:04Z,2016-05-25T00:00:00Z,63,CONSOLAÇÃO,0,1,0,0,0,0
29547,No,3.554831e+14,5653149,F,2016-05-03T11:25:17Z,2016-05-03T00:00:00Z,9,REDENÇÃO,0,0,0,0,0,0
16638,No,9.895795e+12,5710685,F,2016-05-17T17:19:30Z,2016-05-18T00:00:00Z,61,ITARARÉ,0,1,0,0,0,0
69721,No,9.744489e+13,5787060,F,2016-06-08T09:17:16Z,2016-06-08T00:00:00Z,8,ILHA DE SANTA MARIA,0,0,0,0,0,0

In [31]:
# Creation of csv.
train.to_csv("train.csv", index = False)
test.to_csv("test.csv", index = False)